body,h1,h2,h3,h4,h5,h6,ul,li{
    margin: 0;padding: 0;font-weight: normal;
    list-style: none;
    -webkit-text-size-adjust:none
}

a{
    color: #000;
    text-decoration: none;
}
html{
    font-size: 13.3333333vw;
}
.fix{
    width: 100%;height: 0.2rem;
    position: fixed;
    background: #fff5dc;
    z-index: 1;
}
/* 导航栏 */
.nav{
    width: 100%;height: 0.48rem;
    position: absolute;
    left: 0;top: 0.2rem;
    margin: auto;
}
.nav-0{
    width: 0.64rem;height: 0.168rem;
    position: absolute;
    left: 1.4rem;top: 50%;margin-top: -0.084rem;
    font-size: 0.128rem;
    text-align: center;
    float: left;
    font-weight: normal;
    color: #1e50ae;
    cursor: pointer;
}
.nav-right{
    width: 3rem;height: 0.48rem;
    margin-left: 50%;
}
.nav-1{
    width: 0.4rem;height: 0.48rem;
    border: 0.004rem solid #fff ;
    text-align: center;
    font-weight: normal;
    font-size: 0.056rem;
    line-height: 0.48rem;
    cursor: pointer;
    float: left;
}
.nav-1:nth-child(1):hover{
    background: #1e50ae;
    color: #fff;
}
.nav-1:nth-child(3):hover{
    background: #1e50ae;
    color: #fff;
}
.nav-1:nth-child(5):hover{
    background: #1e50ae;
    color: #fff;
}
.nav-1:nth-child(6):hover{
    background: #1e50ae;
    color: #fff;
}
.nav-1:nth-child(7):hover{
    background: #1e50ae;
    color: #fff;
}
.nav-1:nth-child(8):hover{
    background: #1e50ae;
    color: #fff;
}
/* 轮播图banner栏 */
.banner{
    position: absolute;
    width: 100%;height:3.2rem;
    top: 0.68rem;
    overflow: hidden;
}
.left{
    position: absolute;
    left: 0.32rem;
    width: 0.28rem;
    height: 0.28rem;
    border-radius: 20%;
    top: 50%;
    text-align: center;
    line-height: 0.26rem;
    font-size: 0.26rem;
    background: #000 ;
    opacity: 0.3;
    cursor: pointer;
    color: #fff;
}
.right{
    position: absolute;
    right: 0.32rem;
    width: 0.28rem;
    height: 0.28rem;
    border-radius: 20%;
    top: 50%;
    text-align: center;
    line-height: 0.26rem;
    font-size: 0.24rem;
    background: #000 ;
    opacity: 0.3;
    cursor: pointer;
    color: #fff;
}
.box{
    width: 300%;height: 100%;
}
.box a{
    float: left;width: 33.333%;height: 100%;
}
.box a:nth-child(1){
    background:url(../img/1.jpg);
    background-size: contain;
}
.box a:nth-child(2){
    background:url(../img/2.jpg);
    background-size: contain;
}
.box a:nth-child(3){
    background:url(../img/1.jpg);
    background-size: contain;
}
/* 关于我们 */
.about{
    width: 100%;height: 2.52rem;
    position: absolute;
    top:3.88rem;
}
.about-left{
    width: 2.6rem;height: 1.6rem;
    position: absolute;
    left: 1.4rem;top: 0.52rem;
}
.about-we{
    position: absolute;
    width:2.6rem;height:0.188rem;
    font-size: 0.144rem;
    text-align: center;
    line-height: 0.144rem;
}
.about-us{
    width: 0.612rem;height: 0.16rem;
    position: absolute;
    top: 0.248rem;
    font-size: 0.12rem;
    text-align: center;
    line-height: 0.12rem;
    color: #e5e5e5;
}
.about-text-item1{
    width:  2.588rem;height: 0.48rem;
    position: absolute;
    top: 0.592rem;
    font-size: 0.056rem;
    font-family: '微软雅黑';
    line-height: 0.12rem;
    color: #666666;
}
.about-text-item2{
    width:  2.588rem;height: 0.48rem;
    position: absolute;
    top: 1.148rem;
    font-size: 0.056rem;
    font-family: '微软雅黑';
    line-height: 0.12rem;
    color: #666666;
}
.about-right{
    width: 1.776rem;height: 2rem;
    position: absolute;
    right: 1.48rem;top: 0.52rem;
    background: url(../img/3.jpg);
    background-size: contain;
}
/* 产品中心 */
.product{
    width: 100%;height: 3.64rem;
    position: absolute;
    top: 6.4rem;
    background: #f9f9f9;
}
.product-center1{
    width: 0.6rem;height: 0.188rem;
    position: absolute;
    left: 50%;top: 0.432rem;
    margin-left: -0.288rem;
    color: #353535;
    font-size: 0.144rem;
    font-family: '微软雅黑';
    text-align: center;
    line-height: 0.144rem;
}
.product-center2{
    width: 1.07208rem;height: 0.188rem;
    position: absolute;
    top: 0.616rem;left: 50%;
    margin-left: -0.53604rem;
    font-size: 0.12rem;
    font-family: '微软雅黑';
    text-align: center;
    line-height: 0.12rem;
    color: #e5e5e5;
}
.product-img{
    width: 4.8rem;height: 1.78rem;
    position: absolute;
    top: 0.96rem;left: 50%;
    margin-left: -2.4rem;
    
}
.product-img-1{
    width: 1.544rem;height: 1.78rem;
    float: left;
    margin-right: 0.08rem;
    
    background: url(../img/4.jpg);
    background-size: contain;
}
.product-img-2{
    width: 1.544rem;height: 1.78rem;
    float: left;
    margin-right: 0.08rem;
    
    background: url(../img/5.jpg);
    background-size: contain;
}
.product-img-3{
    width: 1.544rem;height: 1.78rem;
    
    float: right;
    background: url(../img/6.jpg);
    background-size: contain;
}
.product-img-item{
    width: 4.468rem;height: 0.852rem;
    position: absolute;
    top: 2.284rem;left: 50%;
    margin-left: -2.232rem;
}
.product-img-item-1{
    width: 1.212rem;height: 0.84rem;
    float: left;
    margin-right: 0.416rem;
    background: #fff;
}
.product-img-item-2{
    width: 1.212rem;height: 0.84rem;
    float: left;
    margin-right: 0.056rem;
    background: #fff;
}
.product-img-item-3{
    width: 1.212rem;height: 0.84rem;
    float: right;
    background: #fff;
}
.product-img-item-fontcss-1{
    width: 0.8rem;height: 0.124rem;
    position: absolute;
    top: 0.2rem;
    margin-left: 0.2rem;
    font-size: 0.096rem;
    font-family: '微软雅黑';
    text-align: center;
    line-height: 0.124rem;
    color: #3c3c3c;
}
.product-img-item-fontcss-2{
    width: 0.8rem;height: 0.128rem;
    position: absolute;
    top: 0.32rem;
    margin-left:0.2rem;
    font-size: 0.064rem;
    font-family: '微软雅黑';
    text-align: center;
    line-height: 0.128rem;
    color: #b3b3b3;
}
.see-more{
    width: 0.596rem;height: 0.192rem;
    position: absolute;
    top: 0.48rem;
    margin-left: 0.312rem;
    background: #1e50ae;
    color: #fff;
    font-size: 0.056rem;
    font-family: '微软雅黑';
    text-align: center;
    line-height: 0.192rem;
    cursor: pointer;
}
/* 技术支持 */
.technical{
    width: 100%;height: 3.216rem;
    position: absolute;
    top: 10.04rem;
    background: url(../img/7.jpg);
    background-size: contain;
}
.technical-title-1{
    width: 1.244rem;height: 0.192rem;
    position: absolute;
    top: 0.74rem;left: 1.6rem;
    color: #fff;
    font-size: 0.144rem;
    font-family: '微软雅黑';
    line-height: 0.192rem;
}
.technical-title-2{
    width: 1.288rem;height: 0.184rem;
    position: absolute;
    top: 0.932rem;left: 1.6rem;
    color: #a1c1ee;
    font-size: 0.12rem;
    font-family: '微软雅黑';
    line-height: 0.184rem;
}
b{
    width: 0.25924rem;height: 0.16rem;
    position: absolute;
    top: 1.12rem;
    left: 1.6rem;
    color: #a1c1ee;
    font-size: 0.12rem;
}
.technical-img-top{
    width: 2.4rem;height: 1.112rem;
    position: absolute;
    left: 50%;top:0.4rem;
}
.technical-img-top-1{
    width: 1.2rem;height: 1.112rem;
    float: left;
    background: url(../img/8.jpg);
    background-size: contain;
}
.technical-img-top-2{
    width: 1.2rem;height: 1.112rem;
    float: right;
    background:#fff
}
.technical-img-bottom{
    width: 4.8rem;height: 1.112rem;
    position: absolute;
    top: 1.512rem;left: 50%;
    margin-left: -2.4rem;
    float: left;
}
.technical-img-bottom-1{
    width: 1.2rem;height: 1.112rem;
    float: left;
    background:#fff
}
.technical-img-bottom-2{
    width: 1.2rem;height: 1.112rem;
    float: left;
    background: url(../img/9.jpg);
    background-size: contain;
}
.technical-img-bottom-3{
    width: 1.2rem;height: 1.112rem;
    float: left;
    background: #fff
}
.technical-img-bottom-4{
    width: 1.2rem;height: 1.112rem;
    float: left;
    background: url(.//img/10.jpg);
    background-size: contain;
}
/* 新闻中心 */
.news{
    width: 100%;
    height: 2.8rem;
    position: absolute;
    top: 13.256rem;
}
.news-center1{
    width: 0.7rem;height: 0.188rem;
    position: absolute;
    left: 50%;top: 0.432rem;
    margin-left: -0.35rem;
    color: #353535;
    font-size: 0.144rem;
    font-family: '微软雅黑';
    text-align: center;
    line-height: 0.144rem;
}
.news-center2{
    width: 0.35496rem;height: 0.16rem;
    position: absolute;
    top: 0.616rem;left: 50%;
    margin-left: -0.17748rem;
    font-size: 0.12rem;
    font-family: '微软雅黑';
    text-align: center;
    line-height: 0.12rem;
    color: #e5e5e5;
}
.news-img{
    width: 4.708rem;height: 1.52rem;
    position: absolute;
    top: 1rem;left: 50%;
    margin-left: -2.348rem;
    
}
.news-img-1{
    width: 1.52rem;height: 0.952rem;
    float: left;
    margin-right: 0.072rem;
    background: url(../img/11.jpg);
    background-size: contain;
    
}
.news-img-2{
    width: 1.52rem;height: 0.952rem;
    float: left;
    margin-right: 0.072rem;
    background: url(../img/12.jpg);
    background-size: contain;
}
.news-img-3{
    width: 1.52rem;height: 0.952rem;
    float: right;
    background: url(../img/13.jpg);
    background-size: contain;
}
.news-item{
    width: 4.708rem;height: 0.46rem;
    position: absolute;
    top: 1.952rem;left: 50%;
    margin-left: -2.348rem;
}
.news-item-1{
    width: 1.52rem;height: 0.46rem;
    float: left;
    margin-right: 0.072rem;
    background: #ffffff;
}
.news-item-2{
    width: 1.52rem;height: 0.46rem;
    float: left;
    margin-right: 0.072rem;
    background: #ffffff;
}
.news-item-3{
    width: 1.52rem;height: 0.46rem;
    float: right;
    background: #ffffff;
}
.news-item-font-1{
    width: 1.268rem;height: 0.092rem;
    position: absolute;
    overflow: hidden;
    top: 0.072rem;
    margin-left: 0.132rem;
    font-size: 0.072rem;
    font-family: '微软雅黑';
    text-align: center;
    line-height: 0.092rem;
    color: #353535;
}
.news-item-font-2{
    width: 1.376rem;height: 0.192rem;
    position: absolute;
    top: 0.2rem;
    margin-left:0.08rem;
    font-size: 0.056rem;
    font-family: '微软雅黑';
    text-align: center;
    line-height: 0.096rem;
    color: #999999;
}
/* 底部 */
.bottom{
    width: 100%;height: 1.304rem;
    position: absolute;
    top: 16.056rem;
    background: rgb(52,52,52)
}
.bottom-title{
    width: 3rem;height: 0.104rem;
    position: absolute;
    top: 0.212rem;left: 50%;
    margin-left: -1.444rem;
}
.bottom-title-item{
    width: 0.224rem;height: 0.076rem;
    margin-right: 0.2rem;
    text-align: center;
    float: left;
    line-height: 0.076rem;
    font-size: 0.056rem;
    font-family: '微软雅黑';
    color: #b2b2b2;
}
.bottom-call{
    width: 5.04rem;height: 0.6rem;
    position: absolute;
    top: 0.476rem;
    left: 50%;
    margin-left: -2.52rem;
    border-top: 0.008rem solid rgb(60,60,60)
}
.bottom-call-1{
    width: 0.404rem;height: 0.076rem;
    position: absolute;
    top: 0.12rem;left: 50%;
    margin-left: -0.202rem;
    text-align: center;
    line-height: 0.076rem;
    font-size: 0.056rem;
    font-family: '微软雅黑';
    color: #737373;
}
.bottom-call-2{
    width: 0.816rem;height: 0.18rem;
    position: absolute;
    top: 0.2rem;left: 50%;
    margin-left: -0.408rem;
    text-align: center;
    line-height: 0.18rem;
    font-size: 0.136rem;
    font-family: '微软雅黑';
    color: #d9d9d9;
}

